<div class="pre-header">
  <div class="col-lg-12 col-md-12">
    <button class="add-new pull-right" (click)="connectToFb()"> Create new campaign</button>
  </div>
</div>
<!--overlay screen-->
<div class="custom-loading" custom-loading [value]="listLoadingValue">
  <span>Welcome to AdTopus Custom Campaign Launcher.<br>
    Let's make your ad campaign together!</span>

  <div id="prbar">
    <div id="prpos"></div>
  </div>
</div>
<!--end of overlay screen-->
<div class="main-part-list">
  <div class="spend col-lg-10 col-md-10 m-top30">
    <div class="row">
      <p class="title col-md-2 m-top15">Spent during last</p>
      <p-dropdown
        [style]="{'width':'90px'}"
        class="exports col-md-2 m-top10 row"
        [options]="spendTime">
      </p-dropdown>
      <p class="statistics col-md-6">
        <span></span>
      </p>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 m-top30 capture">
    <div class="ui-g-3 ui-md-3">
      <p-dropdown class="all-campaigns" [options]="filterTypes">
      </p-dropdown>
    </div>

    <button class="btn btn-delete {{!deleteList.length? 'disabled' : ''}}" (click)="onDeleteClick()">Delete</button>

    <div class="ui-g-2 ui-md-2 pull-right text-left experts">
      <div class="btn-group selectpicker" role="group">
        <p-dropdown class="all-campaigns" [options]="exportTypes">
        </p-dropdown>
      </div>
    </div>

    <div class="ui-g-2 ui-md-2 pull-right experts">
      <div class="dropdown">
        <button class="dropdown-toggle1 text-left custom-dropdown" type="button" data-toggle="dropdown">{{selectedBreakdown || 'Breackdowns'}}
          <span class="caret pull-right"></span></button>
        <ul class="dropdown-menu" >
          <li  role="presentation" *ngFor="let breakdown of breakdowns">
            <a role="menuitem" tabindex="-1" (click)="selectedBreakdown = breakdown.label">{{breakdown.label}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div *ngIf="campaignList && campaignList.length > 0 " class="ui-g-12 ui-md-12">
  </div>

  <div style="display: flex; height: 100px" *ngIf="campaignList && campaignList.length === 0 "
       class="col-lg-12 col-md-12 title">
    <p style="display: block; margin: auto;">No campaign launched</p>
  </div>

  <div *ngIf="campaignList && campaignList.length > 0 " class="col-lg-12 col-md-12">
    <div class="row campaign-table m-bot30">
      <p-dataTable
        [value]="campaignList"
        [rowStyleClass]="getRowStyle"
        (onRowClick)="onRowClick($event)"
        [rows]="10"
        [paginator]="true"
        [pageLinks]="3"
      >
        <p-column field="checkbox" [style]="{'width':'80px'}">
          <template pTemplate="header">
            <label class="control control-checkbox-round">
              <input type="checkbox" [(ngModel)]="selectedAll" (change)="onSelectAll(selectedAll)"/>
              <div class="control-indicator-round"></div>
            </label>
          </template>
          <template let-data="rowData" pTemplate="body">
            <label class="control control-checkbox-round">
              <input type="checkbox" [(ngModel)]="data.selected" (change)="onRowCheck(data)"/>
              <div class="control-indicator-round"></div>
            </label>
          </template>
        </p-column>
        <p-column field="switcher" [style]="{'width':'65px'}">
          <template pTemplate="header">
            <span>L/P</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="Launch or Pause the campaign"
                  tooltipPosition="top"
                  placeholder="Top">
      <i class="fa fa-info-circle"></i>
      </span>
          </template>
          <template let-data="rowData" pTemplate="body">
            <label pTooltip="{{data.published?null: 'Campaign not published'}}"
                   class="switch">
              <input type="checkbox"
                     [(ngModel)]="data.isActive"
                     (change)="onStatusChange(data)"
                     [disabled]="!data.published">
              <div class="slider round"></div>
            </label>
          </template>
        </p-column>
        <p-column field="campaign" [style]="{'width':'26%'}">
          <template pTemplate="header">
            <span>Campaign</span>
          </template>
        </p-column>
        <p-column field="delivery">
          <template pTemplate="header">
            <span>Delivery</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="The current status of your campaign, ad set or ad delivery."
                  tooltipPosition="top"
                  placeholder="Top">
      <i class="fa fa-info-circle"></i>
    </span>
          </template>
                    <template pTemplate="body" let-d="rowData">
                    <span *ngIf="!d.published" class="badge" style="margin-left: 3px; ">Draft</span>
                    <span *ngIf="d.published && !d.isActive" class="badge" style="margin-left: 3px; ">Published</span>
                    <span *ngIf="d.published && d.isActive" class="badge" style="margin-left: 3px; ">Launched</span>
          </template>
        </p-column>
        <p-column field="budget">
          <template pTemplate="header">
            <span>Budget</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="Total amount you want to spend on this ad set."
                  tooltipPosition="top"
                  placeholder="Top">
    <i class="fa fa-info-circle"></i>
  </span>
          </template>
        </p-column>
        <p-column field="amount">
          <template pTemplate="header">
            <span>Bid</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="Your bid amount determines how effectively we can optimize your ad delivery."
                  tooltipPosition="top"
                  placeholder="Top">
                <i class="fa fa-info-circle"></i>
            </span>
          </template>
        </p-column>
        <p-column field="cost">
          <template pTemplate="header">
            <span>Cost</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="The average cost per result from your ads." tooltipPosition="top"
                  placeholder="Top">
              <i class="fa fa-info-circle"></i>
            </span>
          </template>
        </p-column>
        <p-column field="ends" [sortable]="true">
          <template pTemplate="header">
            <span>Ends</span>
            <span tooltipStyleClass="custom-tooltip" pTooltip="The date your campaign ended or is scheduled to end. A campaign's end date is based on the schedule you chose in the campaign's ad set."
                  tooltipPosition="top"
                  placeholder="Top">
                  <i class="fa fa-info-circle"></i>
            </span>
          </template>
          <template pTemplate="body" let-d="rowData">
            {{d.ends | date: 'dd/MM/yyyy'}}
          </template>
        </p-column>
      </p-dataTable>
    </div>
  </div>

  <p-dialog
    header="Clustering of data"
    [(visible)]="showClusteringDialog">

    <div>
      <div style="display: inline-block;">
        <chart (click)="onChartClicked()" [options]="pie1" style="width: 450px;"></chart>
      </div>
      <div style="display: inline-block;">
        <chart (click)="onChartClicked()" [options]="pie2" style="width: 450px;"></chart>
      </div>
    </div>

  </p-dialog>
</div>
