<!--start left menu-->
<div class="main-content">
  <div class="col-20">
    <div class="second-menu">
      <p-dropdown class="add-account text-center" autoWidth="false" [options]="adAccounts"
      [(ngModel)]="menuData.campaignData.adAccount">
    </p-dropdown>


    <ul class="left-nav m-top10">
      <li *ngFor="let item of menuData.menuItems; let index = index; " class="{{menuData.activeParent[index]}}"
      (click)="menuClick(index, item)">
      <a>{{item.name}}</a>
      <ul *ngFor="let subitem of item.submenus; let subIndex = index; " class="{{menuData.activeItem[subIndex]}}">
        <li (click)="subMenuClick(subIndex, subitem)">
          <a>{{subitem.name}}</a>
        </li>
      </ul>
      <div class="item-block"></div>
    </li>
  </ul>
  <div style="max-width: 300px; text-align: center;">
    <div *ngIf="!guageHidden" class="chart1-parent">

      <!-- TOOLTIPE -->
      <span *ngIf="menuData?.reachTooltip" class="tooltips">
        Reach: {{menuData?.potentialReach || 0}} users<br>
        Cost: {{menuData?.suggestedCost ? menuData.suggestedCost/100 : 0}} $</span>

        <!-- REACH CHART -->
        <label style="text-align: center; width: 100%;">{{menuData?.potentialReach ? menuData?.potentialReach + ' people' : ''}} </label>
        <chart class="chart2" [options]="gauge1"
        (load)="initGauge1($event.context)"></chart>
      </div>

      <div *ngIf="!guageHidden" class="chart2-parent">
        <!-- COST CHART -->
        <label style="text-align: center; width: 100%; font-size: 10px;  color: #959595;">{{menuData?.suggestedCost ? (menuData.suggestedCost/100) + ' $' : ''}}</label>
        <chart class="chart2" [options]="gauge2" (load)="initGauge2($event.context)"></chart>
      </div>
    </div>

  </div>
</div>

<router-outlet></router-outlet>
