.column1 {
  float: left;
  background: $main-blue;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  height: 100%;
  box-shadow: 3px 0px 5px -2px $shadow-color;
  .logo {
    margin: 30px;
    display: block;
  }
  .left-menu {
    width: 100px;
    float: left;
    ul {
      li {
        display: block;
        margin: 20px 0;
        padding: 10px;
        border-left: 4px solid $main-blue;
        &.active, &:hover {
          border-left: 4px solid $light-blue;
          background: $dark-blue;
        }
        a {
          display: block;
          text-align: center;
          .menu-item {
            display: inline-block;
            margin-top: 15px;
            color: $white;
          }
        }
      }
    }
  }
  .help {
    position: absolute;
    bottom: 30px;
    left: 30px;
    display: block;
  }
}

.column2 {
  .top-menu {
    @include size(100%, 100px);
    float: left;
    position: fixed;
    left: 100px;
    top: 0;
    background: $white;
    z-index: 15;
    .header-line {
      margin-top: 22px;
      padding-right: 50px;
      ul {
        li {
          display: inline-block;
          margin-left: 10px;
          padding-top: 2px;
          a{
            @include size(35px, 30px);
            display: inline-block;
            &.add{
              background: url($add-icon) no-repeat;
              background-position: 100%;
              &:hover{
                background: url($add-icon-active) no-repeat;
                background-position: 100%;
              }
            }
            &.leads{
              background: url($leads-icon)no-repeat;
              &:hover{
                background: url($leads-icon-active) no-repeat;
              }
            }
            &.statistics{
              background: url($statistics-icon)no-repeat;
              &:hover{
                background: url($statistics-icon-active) no-repeat;
              }
            }
            &.watch{
              background: url($watch-icon)no-repeat;
              &:hover{
                background: url($watch-icon-active) no-repeat;
              }
            }
          }
          &:last-child{
            margin-left: 10px;
          }
        }
      }
    }
    .settings {
      .get-settings {
        @include size(25px, 25px);
        display: block;
      }
    }
    .searchform {
      .searchsubmit {
        position: absolute;
        background: transparent;
        border: 0 none;
        right: 18px;
        top: 1px;
      }
      #menu-search {
        @include size(100%, 56px);
        border: 1px solid $light-blue;
        border-radius: 17px;
        padding: 0 10px 0 35px;
        font-size: $font-size1;
        background: url($search-icon) no-repeat;
        background-position: 2%;
      }
    }
    .user-avatar {
      margin-top: -10px;
    }
    .notification {
      margin-left: 20px;
    }
    .user-name {
      .account-list{
        background: transparent;
        border: 0 none;
        color: $text-color1;
      }
      .dropdown-menu{
        width: 160px;
      }
      a {
        color: $text-color1;
        display: block;
        padding: 7px;
        border-bottom: 1px solid $text-color1;
        &:last-child{
          border-bottom: 0 none;
        }
        &:hover {
          color: $text-color1;
          text-decoration: none;
        }
      }
    }
    .badge{
      min-width: 10px;
      margin-top: -20px;
      margin-left: -10px;
      background: $dot-color;
    }
    .badge-left{
      margin-top: -7px;
      margin-left: 20px;
      position: absolute;
    }
  }
}
