.pre-header {
  @include light-shadow();
  width: 100%;
  padding: 100px 0 0 100px;
  overflow: hidden;
  .add-account-light {
    color: $white;
    font-size: $font-size1;
    margin-bottom: 20px;
    .ui-dropdown {
      @include light-shadow();
      @include border-radius(30px);
      margin: 5px 0 10px 20px;
      height: 30px;
      background: $light-blue;
      border: 1px solid $light-blue;
      color: $white;
      .ui-dropdown-trigger {
        .fa {
          margin-top: 5px;
        }
      }
      .ui-dropdown-label {
        padding: 0.1em .75em;
        color: $white;
      }
      span {
        color: $text-color1;
      }
    }
  }
  .add-new {
    @include light-shadow();
    padding: 7px 25px;
    border: 1px solid $light-green - #222;
    border-radius: 4px;
    background: $light-green;
    margin: 10px 35px;
    color: $white;
  }
}

.main-part-list {
  @include size(100%, 100%);
  padding-top: 50px;
  padding-right: 50px;
  margin-top: -3px;
  float: left;
  padding-left: 150px;
  background: $content-bg;
  .ui-dropdown, .ui-button {
    background: $input-bg-color;
    margin-right: 20px;
    color: $text-color1;
    border: 1px solid $btn-border-color;
    &:hover {
      background: $input-bg-color;
      color: $text-color1;
      border: 1px solid $btn-border-color;
    }
    .ui-dropdown-trigger {
      .fa {
        color: $text-color1;
      }
    }
    .ui-dropdown-panel{
      .ui-dropdown-items{
        line-height: 30px;
        border-bottom: 1px solid $text-color1;
        &:last-child{
          border-bottom:none;
        }
      }
    }
  }
  .statistics {
    span {
      margin-top: 80px;
      height: 3px;
      background: $light-blue;
      display: block;
    }
  }
  .spend {
    @include light-shadow();
    height: 130px;
    background: $white;
    .experts {
      text-align: center;
      .ui-dropdown{
        width: auto;
        background: $input-bg-color;
        margin-top: 10px;
      }
    }
  }
  .capture {
    @include light-shadow();
    background: $white;
    padding: 20px 10px;
    color: $text-color1;
    .campaign-table {
      .ui-datatable {
        margin-bottom: 30px;
        .ui-datatable-thead {
          tr {
            th, td {
              color: $text-color1!important;
            }
          }
        }
      }
    }
    
    .all-campaigns {
      width: 200px;
      z-index: 200;
    }
    
    .fa {
      color: $text-color1;
    }
  }
  
  .page-link {
    margin-left: 15px !important;
    @include border-radius(4px);
    border: 1px solid $text-color2;
    color: $text-color1;
    &.active, &:hover {
      background: $dark-bg;
      color: $white;
      border: 1px solid $text-color2;
    }
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 45px;
    height: 16px;
    margin-bottom: 0;
  }
  
  .switch input {
    display: none;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 1px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: $main-blue;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px $main-blue;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 30px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
}
