$img-path: '../images/';
$logo-path: $img-path + 'logo.png';
$settings-icon: $img-path + 'settings.png';
$search-icon: $img-path + 'search.png';

$post-url: $img-path + 'engag.png';
$post-url-active: $img-path + 'engag-active.png';
$video-url: $img-path + 'video.png';
$video-url-active: $img-path + 'video-active.png';
$lead-url: $img-path + 'lead.png';
$lead-url-active: $img-path + 'lead-active.png';
$website-url: $img-path + 'website.png';
$website-url-active: $img-path + 'website-active.png';
$apps-url: $img-path + 'apps.png';
$apps-url-active: $img-path + 'apps-active.png';
$like-url: $img-path + 'likes.png';
$like-url-active: $img-path + 'likes-active.png';
$brand-url: $img-path + 'brand.png';
$brand-url-active: $img-path + 'brand-active.png';
$reach-url: $img-path + 'reach.png';
$reach-url-active: $img-path + 'reach-active.png';

$slide-url: $img-path + 'slideshow.png';
$canvas-url: $img-path + 'canvas.png';
$carousel-url: $img-path + 'carousel.png';
$single-image-url: $img-path + 'single-image.png';
$single-video-url: $img-path + 'single-video.png';

$add-icon: $img-path + 'add.png';
$add-icon-active: $img-path + 'add-active.png';
$statistics-icon: $img-path + 'statistics.png';
$statistics-icon-active: $img-path + 'statistics-active.png';
$leads-icon: $img-path + 'leads.png';
$leads-icon-active: $img-path + 'leads-active.png';
$watch-icon: $img-path + 'watch.png';
$watch-icon-active: $img-path + 'watch-active.png';
