@mixin padding-block($top,$left-right) {
  padding-top: $top;
  padding-left: $left-right;
  padding-bottom: $top;
  padding-right: $left-right;
}

@mixin placeholder($color: $input-color-placeholder) {
  &::-moz-placeholder {
    color: $color;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

@mixin shadow($p1, $p2, $p3, $p4, $color) {
  -webkit-box-shadow: $p1 $p2 $p3 $p4 $color;
  -moz-box-shadow: $p1 $p2 $p3 $p4 $color;
  box-shadow: $p1 $p2 $p3 $p4 $color;
}

@mixin border-radius($top) {
  @include border-top-radius($top);
  @include border-bottom-radius($top);
  @include border-left-radius($top);
  @include border-right-radius($top);

}

@mixin light-shadow() {
  @include shadow(0, 4px, 5px, 0, $btn-border-color);
}

@mixin  item-div() {
  @include border-radius(7px);
  height: 165px;
  width: 100%;
}

@mixin background-box($color,$url){
  background: $color url($url) no-repeat;
  background-size: 100% 100%;
}

@mixin objective-btn($url, $bg-color, $pos, $color){
  background: url($url)no-repeat $bg-color;
  background-position: $pos;
  color:$color;
}
