body,
html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: 'Open Sans';
  a{
    text-decoration: none;
    &:hover{
      text-decoration: none;
    }
  }
}

img {
  max-width: 100%;
}

nav ul {
  list-style-type: none;
}

input, textarea, button {
  &:focus {
    outline: none !important;
  }
}

p, ul li, input {
  font-family: 'Open Sans';
}

h1, h3, h2, h4 {
  font-family: 'Open Sans';
}

a {
  &:hover {
    cursor: pointer;
    text-decoration: none;
  }
}
