//colors
$white: #fff;
$main-blue: #1d457e;
$dark-blue: #163664;
$light-blue: #89cfe7;
$light-blue-pressed: #6090a1;
$text-color1: #a4a4a4;
$text-color2: #636363;
$dark-bg: #949494;
$content-bg: #f3f2f2;
$button-bg: #cacdd7;
$shadow-color: #888;
$input-bg-color: #f6f8f9;
$btn-border-color: #d5d7d8;
$divider-color: #dfe0e5;
$format-item-border: #e6e7e8;
$format-item-bg: #d4d4d4;
$light-green: #41d3ac;
$dark-green: #408040;
$lighter-green: #c8e5c8;
$dot-color: #d9534f;
$fb-page-color:#1d2129;
$fb-page-title:#365899;
$list-checkbox-bg:#375687;
$pressed-button-bg: #b2b2b2;
$rounded-checkbox-border:#c4c4c4;
//font-sizes
$font-size1: 16px;
$font-size2: 14px;
$font-small: 12px;
$title-font-size: 32px;
$sub-title-font-size: 24px;
