@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
$icon-font-path: '../../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

@import url('../../../node_modules/primeng/resources/primeng.min.css');
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins/size.scss";


@import "./base/_config.scss";
@import "./base/_variables.scss";
@import "./base/_mixins.scss";
@import "./base/_reset.scss";
@import "./base/_common.scss";
@import "./pages/layers/_header.scss";
@import "./pages/layers/_preheader.scss";
@import "./pages/_create.scss";
@import "./pages/_audience.scss";
@import "./pages/_objective.scss";
@import "./pages/_budget.scss";
@import "./pages/_placements.scss";
@import "./pages/_format.scss";
@import "./pages/_post.scss";
@import "./pages/_lead.scss";
@import "./themes/primeng.scss";
@import "./themes/progress.scss";
@import "./themes/custom-checkbox.scss";
