.main-part {
  box-shadow: 0 0 5px -2px $shadow-color;
  background: $white;
  height: auto;
  padding-top: 25px;
  padding-bottom: 11%;
  .objective-form {
    color: $text-color1;
    font-family: 'Open Sans';
    font-size: $font-size2;
    .form-line {
      height: 70px;
      margin-top: 15px;
      .save {
        background: $light-blue;
        color: $white;
      }
    }
    .objective-btn {
      @include size(32.3%, 62px);
      border: 0 none;
      border-radius: 4px;
      margin-bottom: 5px;
      margin-right: 1%;
      font-size: 13px;
      &.post-engagement {
        @include objective-btn($post-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($post-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.video-views {
        @include objective-btn($video-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($video-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.lead-view {
        @include objective-btn($lead-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($lead-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.website {
        @include objective-btn($website-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($website-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.apps {
        @include objective-btn($apps-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($apps-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.like {
        @include objective-btn($like-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($like-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.brand {
        @include objective-btn($brand-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($brand-url-active, $content-bg, 6%, $light-blue);
        }
      }
      &.reach {
        @include objective-btn($reach-url, $input-bg-color, 6%, $text-color1);
        &:hover, &.active {
          @include objective-btn($reach-url-active, $content-bg, 6%, $light-blue);
        }
      }
      span {
        margin-left: 30px;
      }
    }
  }
}


