.post-form {
  .embed-area {
    width: 100%;
    min-height: 300px;
    img {
      width: 100%;
    }
    .embed-content {
      color: $fb-page-color;
      .embed-title {
        color: $main-blue !important;
        display: block;
        font-weight: bold;
        color: black;
      }
    }
  }
  .form-line {
    .ui-dropdown {
      .ui-dropdown-label {
        background: $white;
        color: $text-color1;
        text-align: center;
      }
      .ui-dropdown-trigger {
        .fa {
          color: $text-color1;
        }
      }
    }
  }
  .select-page {
    .ui-widget {
      border: 0 none;
    }
    .ui-dropdown-label {
      color: $text-color2 !important;
    }
  }
}

